{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <!-- defining layouts and grids -->
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-7 col-md-6 my-auto"></div>
                <h1 class="display-4 logo-font text-black">
                    We're more than electronics
                </h1>
                <div class="my-5">
                    <h4>
                        <a href="{% url 'products' %}" class="shop-now-button btn btn-lg rounded-0 text-uppercase py-3">See our products</a>
                    </h4>
                </div>
        </div>
    </div>


<!-- Newsletter section -->
<section class="homepage-newsletter-section">
    <div class="container">
      <div class="row justify-content-center">
        <!-- Begin Mailchimp Signup Form -->
        <div id="mc_embed_signup" class="col">
          <form
            action="https://herokuapp.us8.list-manage.com/subscribe/post?u=e8b2b86c756ac8c928b1050b6&amp;id=a6bc723509&amp;f_id=0026b6e0f0"
            method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate"
            target="_blank" novalidate aria-label="newsletter signup form">
            <div id="mc_embed_signup_scroll">
              <h2 class="page-subtitle">Want to know more about the latest arrivals ?</h2>
              <h3 class="page-h3-title">Subscribe to our newsletter now</h3>
              <div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
              <div class="mc-field-group">
                <label for="mce-EMAIL" aria-labelledby="mce-EMAIL">Your Email Address <span class="asterisk">*</span>
                </label>
                <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" required
                  aria-labelledby="mce-EMAIL">
                <span id="mce-EMAIL-HELPERTEXT" class="helper_text"></span>
              </div>
              <div id="mce-responses" class="clear foot">
                <div class="response" id="mce-error-response" style="display:none"></div>
                <div class="response" id="mce-success-response" style="display:none"></div>
              </div>
              <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text"
                  name="b_e8b2b86c756ac8c928b1050b6_a6bc723509" tabindex="-1" value="" aria-labelledby="mce-EMAIL"></div>
              <div class="optionalParent">
                <div class="clear foot">
                  <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
                  <p class="brandingLogo"><a href="http://eepurl.com/iaNIen"
                      title="Mailchimp - email marketing made easy and fun"><img
                        src="https://eep.io/mc-cdn-images/template_images/branding_logo_text_dark_dtp.svg"
                        alt="mailchimp brand logo"></a></p>
                </div>
              </div>
              <p class="text-muted mailchimp-disclaimer-text mt-2 mb-2">By submitting your details you agree to sign up to
                receive emails from Electronics Shop. We won't share your details with anyone and you can unsubscribe
                at any time.</p>
            </div>
          </form>
        </div>
        <script src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script>
        <script>
          (function ($) {
            window.fnames = new Array();
            window.ftypes = new Array();
            fnames[0] = 'EMAIL';
            ftypes[0] = 'email';
            fnames[1] = 'FNAME';
            ftypes[1] = 'text';
            fnames[2] = 'LNAME';
            ftypes[2] = 'text';
            fnames[3] = 'ADDRESS';
            ftypes[3] = 'address';
            fnames[4] = 'PHONE';
            ftypes[4] = 'phone';
            fnames[5] = 'BIRTHDAY';
            ftypes[5] = 'birthday';
          }(jQuery));
          var $mcj = jQuery.noConflict(true);
        </script>
        <!--End mc_embed_signup-->
      </div>
    </div>
  </section>

{% endblock %}