{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    
    <div class="container">
        <div class="row h-100 justify-content-end">
            <div class="col-7 col-md-6 my-auto">
                <h1 class="display-4 logo-font text-black">
                    We're more than electronics !
                </h1>
            </div>         
        </div>        
    </div>
    <div class="prods">
      <h4>
          <a href="{% url 'products' %}" class="shop-now-button btn btn-lg rounded-2 text-uppercase py-3">See our products</a>
      </h4>
    </div>

  <!-- Newsletter Mailer Lite -->
  
  <div class="container">
    <div class="row justify-content-end">
      <div class="ml-embedded" data-form="emTdva">

        <div id="mlb2-9300001" class="ml-form-embedContainer ml-subscribe-form ml-subscribe-form-9300001">
          <div class="ml-form-align-center ">
            <div class="ml-form-embedWrapper embedForm">
              <div class="ml-form-embedBody ml-form-embedBodyDefault row-form">
                <div class="ml-form-embedContent">              
                    <h4>Newsletter</h4>                
                      <p>Want to know more about the latest arrivals ?</p>              
                </div>

                <form class="ml-block-form" action="https://assets.mailerlite.com/jsonp/687339/forms/104727753810511862/subscribe" data-code="" method="post" target="_blank">
                  <div class="ml-form-formContent">                
                      <div class="ml-form-fieldRow ml-last-item">
                        <div class="ml-field-group ml-field-email ml-validate-email ml-validate-required">
                          <!-- input -->
                          <input aria-label="email" aria-required="true" type="email" class="form-control" data-inputmask="" name="fields[email]" placeholder="Email" autocomplete="email"> 
                        </div>
                      </div>                
                  </div>

                  <div class="ml-form-checkboxRow ml-validate-required">
                      <label class="checkbox">
                        <input type="checkbox">
                        <div class="label-description">
                          <p>Opt in to receive news and updates.</p>
                        </div>
                      </label>                
                  </div>

                  <input type="hidden" name="ml-submit" value="1">
                  <div class="ml-form-embedSubmit">                
                      <button type="submit" class="primary">Subscribe</button>                
                    <button disabled="disabled" style="display: none;" type="button" class="loading">
                      <div class="ml-form-embedSubmitLoad"></div>
                      <span class="sr-only">Loading...</span>
                    </button>
                  </div>              
                  <input type="hidden" name="anticsrf" value="true">
                </form>
              </div>

              <div class="ml-form-successBody row-success" style="display: none">
                <div class="ml-form-successContent">              
                    <h4>Thank you!</h4>                
                      <p>You have successfully joined our subscriber list.</p>              
                </div>
              </div>
            </div>
          </div>
        </div>

        <script>
        function ml_webform_success_9300001() {
          var $ = ml_jQuery || jQuery;
          $('.ml-subscribe-form-9300001 .row-success').show();
          $('.ml-subscribe-form-9300001 .row-form').hide();
        }
        </script>  
          <script src="https://groot.mailerlite.com/js/w/webforms.min.js?v1f25ee4b05f240a833e02c19975434a4" type="text/javascript"></script>
            <script>
                fetch("https://assets.mailerlite.com/jsonp/687339/forms/104727753810511862/takel")
            </script>
      </div>
    </div>

{% endblock %}