{% extends 'base.html' %}
{% load static %}

{% block title %}Create Testimonial{% endblock %}

{% block content %}

<div class="container">
    <div class="col justify-content-end">
        <form class="testimonial-form" method="POST" enctype="multipart/form-data">
            <h1>Create Testimonial</h1>
                <div>Product id = {{ product.id }}</div>
                <div>Product Name = {{ product.name }}</div>
            {% csrf_token %} 
            {{ form }}
            {{ form.media }}
            <button class="btn btn-green rounded-0 mt-5" type="submit">Submit</button>
        </form>
    </div>
</div>
{% endblock %}
