<!-- Main Navigation Bar -->

<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto">
        
        <!-- All Products -->
        <li class="nav-item dropdown" data-widget="hoverInt">            
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'products' %}?sort=rating&direction=desc" class="dropdown-item">By Rating</a>
                <a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>
        
        <!-- List of Categories -->

        <!-- Components -->
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="components-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Components 
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="components-link">
                <a href="{% url 'products' %}?subcategory=microchips" class="dropdown-item">Microchips</a>
                <a href="{% url 'products' %}?subcategory=capacitors" class="dropdown-item">Capacitors</a>
                <a href="{% url 'products' %}?subcategory=connectors" class="dropdown-item">Connectors</a>
                <a href="{% url 'products' %}?subcategory=microchips,capacitors,connectors" class="dropdown-item">All Components</a>
            </div>
        </li>

        <!-- Boards -->
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="boards-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Boards
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="boards-link">
                <a href="{% url 'products' %}?subcategory=motherboards" class="dropdown-item">Motherboards</a>
                <!-- <a href="{% url 'products' %}?subcategory=raspberry_pi" class="dropdown-item">Raspberry Pi</a>  -->
                <a href="{% url 'products' %}?subcategory=video_boards" class="dropdown-item">Video Boards</a>
                <a href="{% url 'products' %}?subcategory=motherboards,raspberry_pi,video_boards" class="dropdown-item">All Boards</a>
            </div>
        </li>

        <!-- Special Offers -->
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="specials-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Special Offers
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                <a href="{% url 'products' %}?subcategory=new_arrivals" class="dropdown-item">New Arrivals</a>
                <a href="{% url 'products' %}?subcategory=deals" class="dropdown-item">Deals</a>
                <a href="{% url 'products' %}?subcategory=clearence" class="dropdown-item">Clearance</a>
                <a href="{% url 'products' %}?subcategory=all_specials" class="dropdown-item">All Specials</a>
            </div>
        </li>
    </ul>
</div>