<!-- Main Navigation Bar -->

<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto">
        
        <!-- All Products -->
        <li class="nav-item dropdown">            
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="" class="dropdown-item">By Price</a>
                <a href="" class="dropdown-item">By Rating</a>
                <a href="" class="dropdown-item">By Category</a>
                <a href="" class="dropdown-item">All Products</a>
            </div>
        </li>
        
        <!-- Components -->
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Components 
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="Components-link">
                <a href="" class="dropdown-item">Microchips</a>
                <a href="" class="dropdown-item">Capacitors</a>
                <a href="" class="dropdown-item">Connectors</a>
                <a href="" class="dropdown-item">All Components</a>
            </div>
        </li>

        <!-- Boards -->
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Boards
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="boards-link">
                <a href="" class="dropdown-item">Motherboards</a>
                <a href="" class="dropdown-item">Raspberry Pi</a>
                <a href="" class="dropdown-item">Video Boards</a>
                <a href="" class="dropdown-item">All Boards</a>
            </div>
        </li>

        <!-- Special Offers -->
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Special Offers
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                <a href="" class="dropdown-item">New Arrivals</a>
                <a href="" class="dropdown-item">Deals</a>
                <a href="" class="dropdown-item">Clearance</a>
                <a href="" class="dropdown-item">All Specials</a>
            </div>
        </li>
    </ul>
</div>