{% extends 'base.html' %} 
{% block content %}
{% load crispy_forms_tags %}

<!-- Contact page message and image  -->
<div class="container">
    <div class=" justify-content-end">
        <div class="masthead">
            <div class="container">
                <div class="col-10 mt-2">
                    <div class="contact_us">
                        <div class="col-md-12 logo-font">
                            <strong>
                                Our goal is to offer you the best.
                                How can we help you today ?
                            </strong>                   
                        </div>
                        <div class="col-md-6">
                            <img style="opacity:1;" src="" class="card-img" style="width: 25%; height: 25%" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    

        <!-- Contact Form -->
        <div class="container">
            <div class="row">
                <div class="card mb-4 mt-3 left top">
                    <div class="card-body">
                        <p class="card-text">
                        <strong>Contact Us:</strong>
                        </p>
                        <div class="row">
                            <strong>              
                                <form action="{% url 'contact_us' %}" method="post">                            
                                    {% csrf_token %}                            
                                    {{ form|crispy }}
                                    <input type="submit" value="Submit">                            
                                </form>
                            </strong>               
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>    
</div>

{% endblock content %}